# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.envrc
*.env
*.env.local
*.env.dev
*.env.prod
tmp/*

# Test binary, build output
*.test
*.out
app

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Log
*.log